.body{
    background-color:rgb(248, 243, 236);
}
.imge
{ 
    width: 80px;
    height: 80px;

    
}
.txtbox {
    border-radius: 10%;
    font-size: 18pt;
    height: 50px;
    width: 500px;
    text-align: center;
}
.btn{
    background-color: darkorange;
    padding: 10px;
    border: 5px solid black;
    border-radius:20%;
}
.body2{
    background-color: rgb(248, 231, 210);
}
.span{
    color: red;
}
.paragraph{
    color: cornflowerblue;
    font-style: italic;
}
.imge2{
    width: 512px;
    height: 512px;
}
.card1{
    width: 33rem
}